[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flash = "*"
pymysql = "*"
bcrypt = "*"
wtform = "*"
wtforms = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
